
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* space-y-6 */
}

.paymentElementContainer {
  padding: 1.5rem; /* p-6 */
  border: 1px solid;
  border-radius: 0.5rem; /* rounded-lg */
}

.button {
  width: 100%;
}

.errorMessage {
  font-size: 0.875rem; /* text-sm */
  text-align: center;
}
