.paymentForm_form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* space-y-6 */
}

.paymentForm_paymentElementContainer {
  padding: 1.5rem;
  /* p-6 */
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  /* rounded-lg */
  background-color: var(--input-background);
}

.paymentForm_button {
  width: 100%;
}

.paymentForm_errorMessage {
  font-size: 0.875rem;
  /* text-sm */
  text-align: center;
  color: var(--destructive);
}